.is-hidden#hostControls
    .columns
        .column
            .field
                label.label(for='castSel') Select up to 14 Participants:&nbsp
                .control
                    .select.is-multiple.is-fullwidth
                        select#castSel(multiple name='castSel' )
    .columns
        .column
            .control
                button.button.is-primary#setCastBtn Start Session